<!--Section liste des films-->
<section class="section">
    <div class="container">
        <div class="columns">
          {{#each posts}}
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="{{image}}" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <a href="/series/{{_id}}"><h2>{{this.title}}</h2></a>                  
                  <p>{{stripTags content}}</p>
                </div>
              </div>
              <!-- DELETE -->
               <li class="list-group-item"><a href="{{this.id}}">
                            <form action="{{_id}}/?_method=DELETE" method="post">
                            <button type="submit" class="btn btn-danger btn-sm">Effacer</button>
                            </form>
                            </li>
            </div>
          </div>
          {{/each}}
  
            
            
        </div>
        </div>
    </div>
  </section>